{% extends 'plantillas/public.html' %}
{% load static %}

{% block content %}
<h1>Resumen de la compra</h1>
</p>
<h3> Datos de la compra </h3>
<table class="table">
      <tr>
        <td>Cliente: {{ purchase.client_name }}</td>
        <td>Cédula: {{ purchase.client_id }}</td>
        <td>Fecha: {{ purchase.date |date:'d/m/Y' }} </td>
      </tr>
</table>
</p>
<h3> Bebidas </h3>
<table class="table">
  <thead>
      <tr>
          <th><span class="text">Bebida</span></th>
          <th><span class="text">Tamaño</span></th>
          <th><span class="text">Precio</span></th>
      </tr>
      </thead>
  <tbody>

  {% for drink in purchase.drink.all %}
  <tr>
    <td>{{drink.name}}</td>
    <td>{{drink.size}}</td>
    <td>{{drink.price}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</p>
<h3> Pizzas </h3>
<table class="table">
  <thead>
      <tr>
          <th><span class="text">Tamaño</span></th>
          <th><span class="text">Ingredientes</span></th>
      </tr>
  </thead>
  <tbody>
  {% for pizza in pizzas %}
  <tr>
    <td>{{pizza.size}}</td>
    <td>{% for ingredient in pizza.ingredient.all %}
      <p>{{ingredient}}</p>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</p>
<h3> Total: {{ purchase.total_price }} </h3>
<p></p>

<a href="{% url 'index' %}">Volver a inicio</a>
</p>
<a href="{% url 'Pdf' %}">Obtener PDF</a>
<p></p>

{% endblock %}
